<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'planet-bot/plugins/images/favicon.png' %}">
    <title>Planet-Bot </title>

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--materialize -->
     <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

     <link href="{% static 'planet-bot/materialize/css/materialize.css' %}" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href=" {% static 'planet-bot/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Menu CSS -->
    <link href="{% static 'planet-bot/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">
    <!--<link href="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">-->
    <!-- animation CSS -->
    <link href="{% static 'planet-bot/css/animate.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'planet-bot/css/style.css' %}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{% static 'planet-bot/css/colors/default.css' %}" id="theme" rel="stylesheet">
     <link href="{% static 'planet-bot/css/recustom.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

<![endif]-->

</head>

<body class="fix-header">
{% block content %}

{% endblock %}
    <!-- jQuery -->
  <!--<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->
    <script src="{% static 'planet-bot/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>

<!-- Compiled and minified JavaScript -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
    <script src="{% static 'planet-bot/materialize/js/materialize.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'planet-bot/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{% static 'planet-bot/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{% static 'planet-bot/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'planet-bot/js/waves.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'planet-bot/js/custom.min.js' %}"></script>
    <script src="{% static 'planet-bot/js/recustom.js' %}"></script>


</body>

</html>
