{% extends 'planet-bot/base.html' %}
{% load static %}

{% block content %}
  <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="{% url 'index' %}">
                        <!-- Logo icon image, you can use font-icon also --><b>
                        <!--This is dark logo icon--><img src="{% static 'planet-bot/plugins/images/admin-logo.png' %}" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="{% static 'planet-bot/plugins/images/admin-logo-dark.png' %}" alt="home" class="light-logo" />
                     </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                        <!--This is dark logo text--><img src="{% static 'planet-bot/plugins/images/admin-text.png' %}" alt="home" class="dark-logo" /><!--This is light logo text--><img src="{% static 'planet-bot/plugins/images/admin-text-dark.png' %}" alt="home" class="light-logo" />
                     </span> </a>
                </div>
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                            <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a> </form>
                    </li>
                    <li>
                        <a class="profile-pic" href="#"> <img src="{% static 'planet-bot/plugins/images/users/varun.jpg' %}" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">
                            {{current_user.name}}


                        </b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="{% url 'index' %}" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'tenant' tenant.id %}" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Profile  </a>
                    </li>
                    <li>
                        <a href="{% url 'bot_garden' tenant.id %}" class="waves-effect"><i class="fa fa-reddit-alien fa-fw" aria-hidden="true"></i>Bot Garden </a>
                    </li>
                    <li>
                        <a href="basic-table.html" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Basic Table</a>
                    </li>
                    <li>
                        <a href="fontawesome.html" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Icons</a>
                    </li>
                    <li>
                        <a href="map-google.html" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>Google Map</a>
                    </li>
                    <li>
                        <a href="blank.html" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i>Blank Page</a>
                    </li>
                    <li>
                        <a href="404.html" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>Error 404</a>
                    </li>

                </ul>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
      <div id="page-wrapper">
          <!--dynamic bitch -->
           <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Bot Profile Page</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'index' %}">Dashboard</a></li>
                            <li class="active">Bot Profile Page</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="{% static 'planet-bot/plugins/images/large/img1.jpg' %}">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="{% static 'planet-bot/plugins/images/users/genu.jpg' %}" class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white">Chatbot Name</h4>
                                        </div>
                                </div>
                            </div>
                            <div class="user-btm-box">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-purple"><i class="ti-facebook"></i></p>
                                    <h1>.</h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-blue"><i class="ti-twitter"></i></p>
                                    <h1>.</h1> </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-danger"><i class="ti-dribbble"></i></p>
                                    <h1>.</h1> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-20">
                        <div class="white-box">
                            <br>
                            <form class="form-horizontal form-material" method="post">
                                 {% csrf_token %}
                                {% load widget_tweaks %}
                                <div class="form-group">
                                    <label class="col-md-12">Chatbot Name</label>
                                    <div class="col-md-12">
                                         {% render_field form.name placeholder="Denis"  class+="form-control form-control-line" %}
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-md-12">Description</label>
                                    <div class="col-md-12">
                                        {% render_field form.description placeholder="Describe your chatbot"  class+="form-control form-control-line" %}
                                    </div>
                              </div>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Save</button>
                                    </div>
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
                        <!--Select What you want to configure-->
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="white-box">
                                    <h3 class="box-title">Train {{bot.name}}</h3>
                                    <button class="btn" onclick="listView()"><i class="fa fa-bars"></i> List</button>
                                    <button class="btn active" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>

                                    <div class="x_row">
                                        <div class="x_column">
                                            <div class="row">
                                                <div class="col s5 m7">
                                                    <div class="card hoverable  card-small">
                                                        <div class="card-image waves-effect waves-block waves-light">
                                                            <img src="https://wmaproperty.com/blog/wp-content/uploads/2016/03/Target-Zone.jpg" class="symbol">
                                                            <span class="card-title blue-text text-darken-2">Intents</span>
                                                        </div>
                                                        <div class="card-content">
                                                            <p class="blue-text text-darken-2">Configure the intents of your chatbot</p>
                                                        </div>
                                                        <div class="card-action">
                                                            <a id="bots" href="#">Click</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x_column">
                                                <div class="row">
                                                    <div class="col s5 m7">
                                                         <div class="card hoverable  card-small">
                                                             <div class="card-image waves-effect waves-block waves-light">
                                                                <img src="http://www.tattooshunt.com/images/65/microchip-tattoo-design.jpg" class="symbol">
                                                                <span class="card-title blue-text text-darken-2">Entities</span>
                                                            </div>
                                                            <div class="card-content">
                                                                <p class="blue-text text-darken-2">Create entities here</p>
                                                            </div>
                                                            <div class="card-action">
                                                                <a id="bots" href="#">Click</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                     <div class="x_row">
                                        <div class="x_column">
                                            <div class="row">
                                                <div class="col s5 m7">
                                                    <div class="card hoverable  card-small">
                                                        <div class="card-image waves-effect waves-block waves-light">
                                                            <img src="http://www.paperhi.com/thumbnails/detail/20130509/books%20knowledge_www.paperhi.com_16.jpg" class="symbol">
                                                            <span class="card-title">Knowledge</span>
                                                        </div>
                                                        <div class="card-content">
                                                            <p class="blue-text text-darken-2">Knowledge is power</p>
                                                        </div>
                                                        <div class="card-action">
                                                            <a id="bots" href="#">Click</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="x_column">
                                            <div class="row">
                                                <div class="col s5 m7">
                                                    <div class="card hoverable  card-small">
                                                        <div class="card-image waves-effect waves-block waves-light">
                                                            <img src="http://blog.online.colostate.edu/wp-content/uploads/2014/06/puzzle.jpg" class="symbol">
                                                            <span class="card-title">Fulfillment</span>
                                                        </div>
                                                        <div class="card-content">
                                                            <p class="blue-text text-darken-2" >Connect with your application from here to carry out a custom  action..</p>
                                                        </div>
                                                        <div class="card-action">
                                                            <a id="bots" href="#">Click</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                    <div class="x_row">
                                        <div class="x_column">
                                            <div class="row">
                                                <div class="col s5 m7">
                                                    <div class="card hoverable  card-small">
                                                        <div class="card-image waves-effect waves-block waves-light">
                                                            <img src="https://chatbotlab.io/images/b-features/3.png" class="symbol">
                                                            <span class="card-title blue-text text-darken-2">Integrations</span>
                                                        </div>
                                                        <div class="card-content">
                                                            <p class="blue-text text-darken-2">Omini-channel integration with all these platforms</p>
                                                        </div>
                                                        <div class="card-action">
                                                            <a id="bots" href="#">Click</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x_column">
                                            <div class="row">
                                                <div class="col s5 m7">
                                                    <div class="card hoverable  card-small">
                                                        <div class="card-image waves-effect waves-block waves-light">
                                                            <img src="https://martechtoday.com/wp-content/uploads/2018/08/graph-line-trend-analytics-magnifying-glass-ss-1920_wpn4gv.jpg" class="symbol">
                                                            <span class="card-title blue-text text-darken-2">Analytics</span>
                                                        </div>
                                                        <div class="card-content">
                                                            <p class="blue-text text-darken-2">Check out the analytics of your bot</p>
                                                        </div>
                                                        <div class="card-action">
                                                            <a id="bots" href="#">Click</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
      </div>
        <!-- /.row -->
    </div>
<!-- /.container-fluid -->
<footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by wrappixel.com </footer>
      </div>

        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->


{% endblock %}